/*========================
  CSS reset
==========================*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh; /* Fallback if dvh is not supported */
  min-height: 100dvh;
  line-height: 1.5;
}

h1 {
  /* Set shorter line heights on headings and interactive elements */
  line-height: 1.1;

  /* Balance text wrapping on headings */
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

/*========================
  Initial Styles
==========================*/

:root {
  --clr-primary-100: hsl(238, 29%, 16%);
  --clr-primary-200: hsl(14, 88%, 65%);
  --clr-primary-300: hsl(273, 75%, 66%);
  --clr-primary-400: hsl(240, 73%, 65%);

  --clr-neutral-100: hsl(237, 12%, 33%);
  --clr-neutral-200: hsl(240, 6%, 50%);
  --clr-neutral-300: hsl(240, 5%, 91%);

  --fw-700: 700;
  --fw-400: 400;

  --fs-title: 2rem;
  --fs-summary: 0.875rem;
  --fs-body: 0.75rem;

  --font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image: linear-gradient(
    var(--clr-primary-300),
    var(--clr-primary-400)
  );

  font-family: var(--font-family);
  font-size: var(--fs-body);

  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
}

/*========================
  Faq Card Styles
==========================*/

.faq-card {
  background-color: white;
  inline-size: min(57rem, calc(100% - 3rem));
  border-radius: 1.25rem;
  box-shadow: 0 3.125rem 3.125rem -1.25rem hsla(260, 74%, 27%, 0.5);
  position: relative;
}

@media screen and (min-width: 750px) {
  .faq-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    block-size: 28.7rem;
  }
}

/*========================
  Illustrations Styles
==========================*/
.illustrations {
  display: flex;
  justify-content: center;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 9rem;
}

.illustration-wrapper {
  translate: 0 -55%;
}

@media screen and (min-width: 750px) {
  .illustrations {
    align-items: center;
    background-image: url("images/bg-pattern-desktop.svg");
    background-position: -600px -300px;
    position: relative;
    height: auto;
  }

  .illustrations::before {
    content: url("images/illustration-box-desktop.svg");
    position: absolute;
    z-index: 1;
    left: -94px;
    top: 190px;
  }

  .illustration-wrapper {
    translate: -4rem 0;
  }

  .picture-wrapper {
    overflow: hidden;
  }
}

/*========================
  Accordion Group Styles
==========================*/

.accordion-group {
  padding: 0 1.5rem 3rem 1.5rem;
  overflow-y: auto;
}

.faq-title {
  font-size: var(--fs-title);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .accordion-group {
    padding: 4.0625rem 5.9375rem 4.0625rem 0;
  }

  .faq-title {
    text-align: left;
  }
}

.accordion {
  border-bottom: 1px solid var(--clr-neutral-300);
  padding-block: 1rem;
  color: var(--clr-neutral-200);
}

.accordion-title {
  font-size: var(--fs-summary);
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 300ms;
  color: var(--clr-primary-100);
}

.accordion-title:hover,
.accordion-title:focus-visible {
  cursor: pointer;
  color: var(--clr-primary-200);
  outline: none;
}

.accordion[open] .accordion-title {
  font-weight: var(--fw-700);
  margin-bottom: 1rem;
}

.accordion-title::after {
  content: url("images/icon-arrow-down.svg");
  transition: rotate 300ms;
}

.accordion[open] .accordion-title::after {
  rotate: 180deg;
}

/*========================
  Footer Styles
==========================*/

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  padding: 2rem;
}

.attribution a {
  color: var(--clr-neutral-300);
}
